doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Taylor
    body 
        .nav_bar 

            li.nav_item: a(href="/")
                != h.icon('home')
                span Home 
            li.nav_item: a(href="/projects")
                != h.icon('folder')
                span Projects 
            li.nav_item: a(href="/about-me")
                != h.icon('pen')
                span About Me 
            li.nav_item: a(href="/contact") 
                != h.icon('contact')
                span Contact Me 
        
        .content 
            block content