mixin project()
        .projects 
            .project
                .project__header
                    h2 Here are a few of my projects
                .project__image 
                    img(src="/images/files.jpg", alt="projects" width="200")
            .project
                .project__header
                    h2 Here are a few of my projects
                .project__image
                    img(src="/images/files.jpg", alt="projects" width="200")