.image {
  display: flex;
  justify-content: center;
}
img {
  margin: 35px;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 30vw;
  border: 10px solid black;
  box-shadow: 2px 2px lightgray;
}