.container {
  margin: 20px;
  height: 60vh;
  border: 10px solid black;
  box-shadow: 2px 2px lightgray;
}

h2 {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px lightgray;
  font-size: 3rem;
}

.image {
  display: flex;
  justify-content: center;
}
img {
  margin: 35px;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 30vw;
  border: 10px solid black;
  box-shadow: 2px 2px lightgray;
}

p {
  display: flex;
  justify-content: center;
}
