.div {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 10px;
  background-color: white;
  border: 10px solid #241e19;
}

h2 {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px lightgray;
}

p {
  display: flex;
  justify-content: center;
}
